.resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <!-- <div class="title_content" style="float: none;">
            <div class="text_content">Designs skills</div>
            <div class="clear"></div>
        </div> -->
        <!-- /.title_content -->
        
        <!-- <div class="skills"> -->
            <!-- .skillbar -->
            <!-- <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div> -->
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!-- <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Illustrateur</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div> -->
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!-- <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Indesign</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div> -->
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!-- <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Flash</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">35%</div>
            </div> -->
            <!-- /.skillbar -->
       <!--  </div> -->
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Matlab</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Other Technical Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70">
                <div class="skillbar-title"><span>MS Suite</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="65">
                <div class="skillbar-title"><span>HTML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60">
                <div class="skillbar-title"><span>CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60</div>
            </div>

            <!-- /.skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>php</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60</div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Latex</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Cooking</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Sports</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Oil painting</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!-- <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div> -->
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Hindi</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Bengali</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Malayalam</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        

          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Non Academic Achievements</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->    
        <ul class="attributes">
            <li class="first">
                <h5>NCC - A, B, C certificate holder  <!-- <span class="duration"><i class="fa fa-calendar color"></i> 2018</span> --></h5><div class="clear"></div>
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6> -->
                <!-- <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>
            <li class="first">
                <h5>Basketball - Represented University at West Zonals, Association of Indian Universites(AIU)  <!-- <span class="duration"><i class="fa fa-calendar color"></i> 2019</span> --></h5><div class="clear"></div>
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6> -->
                <!-- <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>

            <li>
                <h5>Hockey - Represented School at South Zonals, CBSE Clusters <!-- <span class="duration"><i class="fa fa-calendar color"></i> 2019</span> --></h5><div class="clear"></div>
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>

            <li>
                <h5>Painting - First place in State level Poster Competition, Centre for Development of Advanced Computing(CDAC) <!-- <span class="duration"><i class="fa fa-calendar color"></i> 2019</span> --></h5><div class="clear"></div>
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  


        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://drive.google.com/open?id=13PShv58_b5y83OXC5oowtneokkU8rrrv">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>M.Sc in Computer Science <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2019</span></h5>
                <h6><span class="fa fa-book"></span> South Asain University(SAARC est.), New Delhi. (SAU)</h6>
                <p>My course work at SAU included subjects : Machine learning, Mathematical Topics of Computer science, Probability and Statistics, Database management systems, Advanced Data structures and Algorithms, Operating systems, Optimization Techniques, Data mining and Compiler Design etc. </p>
            </li>
            <li>
                <h5>B.Sc in Computer Science <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2017</span></h5>
                <h6><span class="fa fa-book"></span> Central University of Rajasthan, Ajmer. (CURAJ)</h6>
                <p>My course work at CURAJ included subjects : Computer Graphics, Differential and Integral calculus, Probability and Distributions, Computer Networks, Micro Economics, Macro Economics and Graph Theory etc.</p>
            </li>
            <li>
                <h5>12th in Computer Science <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
                <h6><span class="fa fa-book"></span> Sainik School Kazhakootam, Thiruvananthapuram,Kerala (SSKZM)</h6>
                <p>My course work at SSKZM included subjects : Physics, Chemistry, Maths, English, Computer science.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Academic Conferences</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>International Workshop on Emerging Trends in IOT and Machine Learning.<span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <!-- <h6><span class="fa fa-briefcase"></span> Name of Company</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p> -->
            </li>
            <li>
                <h5>Summer Training on Regression and Deep Learning. <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <!-- <h6><span class="fa fa-book"></span> Name of University</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p> -->
            </li>
            <li>
                <h5>International Workshop on Computational Intelligence and Machine Learning <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                <!-- <h6><span class="fa fa-book"></span> Name of University</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p> -->
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Academic Achievements</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->    
        <ul class="attributes">
            <li class="first">
                <h5>NTA-NET for Assistant professorship in computer science&amp;applications  <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6> -->
                <!-- <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>
            <li class="first">
                <h5>NTA-NET for Assistant professorship in computer science&amp;applications  <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6> -->
                <!-- <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>

            <li>
                <h5>GATE in Computer scinece &amp; engineering <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <!-- <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p> -->
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">References</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“input text”</p>
                <span><a href="http://www.sau.int/faculty/faculty-profile.html?staff_id=73">Dr. Reshma Rastogi, Associate Professor, Department of Computer Science, South Asian University</a>  </span>
            </li>

            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“input text”</p>
                <span> <a href="https://curaj.ac.in/faculty/mamta-rani">Dr. Mamta Rani, Associate Professor, Department of Computer Science, Central University of Rajaasthan</a>  </span>
            </li>

            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“input text”</p>
                <span> <a href="https://www.linkedin.com/in/sweta-sharma-437354177/">Dr. Sweta Sharma , Applied Scientist, Amazon</a> </span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“input text”</p>
                <span> <a href="https://www.linkedin.com/in/aman-pal-ph-d-999b3360/">Dr. Aman Pal, Assistant Manager, Barclays</a> </span>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume